*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    background-color: aliceblue;
    padding:10px;
    margin:50px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: flex-start;
   
}
.item{
    background-color: lightskyblue;
    color: white;
    font-size: 35px;
    padding: 20px;
    margin: 10px;
}